@import 'tailwindcss';

:root {
  --background: #ffffff; /* светлый фон */
  --foreground: #000000; /* светлый текст */
  /* другие переменные */
}

.dark {
  --background: #1a202c; /* темный фон */
  --foreground: #ffffff; /* светлый текст на темном фоне */
  /* другие переменные */
}

@layer base {
  html {
    font-family: var(--font-geist-sans), sans-serif;
    scrollbar-gutter: stable;
    color-scheme: light;
  }

  body {
    font-family: var(--font-geist-sans), sans-serif;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    color: var(--foreground);
    overflow-y: scroll;
  }
}


